.mclarenSenna {
    height: 400px;
    width: 400px;
    margin-top: 6px;
    margin-left: 60px;
    border-radius: 5px;
}

.i8 {
    height: 400px;
    width: 400px;
    margin-left: 960px;
    border-radius: 5px;
    margin-top: -430px;
}

.bugattiChiron {
    height: 400px;
    width: 400px;
    margin-left: 510px;
    margin-top: -480px;
    border-radius: 5px;
}

.corvette {
    height: 400px;
    width: 400px;
    margin-left: 510px;
    margin-top: 0px;
    border-radius: 5px;
}

.bmwX6Img {
    width: 570px;
    height:340px;
    margin-left: 120px;
    margin-top: 50px;
}

.bmwX6Text {
    color: black;
    margin-left: 125px;
    margin-top: 0px;
    font-weight: 370;
    font-size: 30px;
}

.bmwX6Button {
    color: black;
    margin-left: 120px;
    margin-top: 0px;
    
}

.macanImg {
    width: 600px;
    height: 340px;
    margin-left: 720px;
    margin-top: -580px;
}

.macanText {
    font-size: 30px;
    color: black;
    height: none;
    width: 600px;
    margin-left: 720px;
    margin-top: -130px;
    font-weight: 370px;
}

.macanButton {
    margin-top: 0px;
    margin-left: 720px;
}

.lotusEletre {
    height: 840px;
    width: 1470px;
    margin-top: 120px;
}

.lotusEletreText {
    font-weight: 200;
    color: white;
    font-size: 80px;
    margin-top: -700px;
    margin-left: 65px;

    animation-duration: 2s;
    animation-name: o;
}

@keyframes o {
    from {
        margin-left: -800px;
        margin-top: none;
        margin-right: none;
        margin-bottom: none;
    }

    to {
        margin-left: 65px;
    }
}

.lotusEletreButton {
    margin-top: 0px;
    margin-left: 60px;
    animation-duration: 3;
    animation-name: p;
}

@keyframes p {
    from {
        margin-left: -900px;
        margin-top: none;
        margin-right: none;
        margin-bottom: none;
    }

    to {
        margin-left: 60px;
    }
}